<div>
  <button ng-click="updateInstances()">Refresh</button>
  <table class="instances">
    <tr>
      <th colspan="2">Name</th>
      <th>Zone</th>
      <th>Disk</th>
      <th>Network</th>
      <th>External IP</th>
      <th>Connect</th>
    </tr>
    <tr ng-repeat="instance in allInstances track by $index">
      <!-- https://www.google.com/design/icons/ -->
      <td class="status">
        <span class="status-starting" ng-if="instanceStatusIsStarting(instance)">
          <i class="material-icons" alt="Starting">trending_up</i>
        </span>
        <span class="status-running" ng-if="instanceStatusIsRunning(instance)">
          <i class="material-icons" alt="Running">check_circle</i>
        </span>
        <span class="status-stopping" ng-if="instanceStatusIsStopping(instance)">
          <i class="material-icons" alt="Stopping">trending_down</i>
        </span>
        <span class="status-terminated" ng-if="instanceStatusIsTerminated(instance)">
          <i class="material-icons" alt="Terminated">stop</i>
        </span>
      </td>
      <td>
        <a href="https://console.developers.google.com/project/{{project}}/compute/instancesDetail/zones/{{zoneFromUri(instance.zone)}}/instances/{{instance.name}}">{{ instance.name }}</a>
      </td>
      <td>{{ zoneFromUri(instance.zone) }}</td>
      <td ng-show="instance.disks.length == 0">
        -
      </td>
      <td ng-show="instance.disks.length == 1">
        <a href="https://console.developers.google.com/project/{{project}}/compute/disksDetail/zones/{{zoneFromUri(instance.zone)}}/disks/{{diskFromUri(instance.disks[0].source)}}">{{ diskFromUri(instance.disks[0].source) }}</a>
      </td>
      <td ng-show="instance.disks.length > 1">
        {{ instance.disks.length }} disks
      </td>
      <td>
        <a href="https://console.developers.google.com/project/{{project}}/networks/details/global/networks/{{networkNameFromInstance(instance)}}">{{ networkNameFromInstance(instance) }}</a>
      </td>
      <td>{{ externalIpFromInstance(instance) }}</td>
      <!-- Connect -->
      <td>
        <a class="ssh"
           href="https://cloudssh.developers.google.com/projects/{{project}}/zones/{{zoneFromUri(instance.zone)}}/instances/{{instance.name}}?authuser=0"
           ng-if="instanceStatusIsRunning(instance)"
           target="_blank">
          <button>SSH</button>
        </a>
        <a class="console"
           href="/#/project/{{project}}/compute/instancesDetail/zones/{{zoneFromUri(instance.zone)}}/instances/{{instance.name}}/console"
           ng-if="instanceStatusIsRunning(instance)"
           target="_blank">
          <button>Console</button>
        </a>
      </td>
    </tr>
  </table>
</div>
